@import 'config'

.custom-page
  margin: 0 auto
  max-width: 800px
  padding: 0 $marginSize $marginSize * 2

  @media screen and (max-width: $breakpoint-small)
    padding: 0 $marginSize/2 $marginSize

  .custom-page-content
    a
      font-weight: bold
      text-decoration: underline

    img, iframe
      display: block
      max-width: 100%